<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="NothingServices.Abstractions.Debug" value=".\NothingServices.Abstractions\bin\Debug\" />
    <add key="NothingServices.Abstractions.Release" value=".\NothingServices.Abstractions\bin\Release\" />
  </packageSources>
</configuration>